body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin: 10px auto 0;
}
#base {
    width: 95%;
    margin: 0 auto;
}

#setup,
#board {
    width: 95%;
    margin: 3% auto;
}

#board {
    display: grid;
    aspect-ratio: 1 / 1;
}

button {
    display: block;
    margin: 0 auto;
    font-size: 2rem;
}

.gui {
    margin: 5% auto;
    width: 50%;
}

label {
    display: block;
}

@media (orientation: landscape) {
    #base {
        display: flex;
    }

    #setup,
    #board {
        max-height: 80vh;
    }

    #board {
        order: 2;
    }
}
