body>div {
    width: 90%;
    margin: 10% auto;
}

.setup,
.board {
    width: 90%;
    aspect-ratio: 1 / 1;
    margin: 10% auto;
}
.board {
    background-color: rgb(143, 233, 233);
    display: grid;
    grid-template-columns: repeat(64, 1fr);
    /* grid-template-rows: repeat(64, 1fr); */
}

.pixel:hover {
background-color: red;
}


.setbg {
    background-color: black;
}
@media (orientation: landscape) {
    body>div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;

    }
    .setup,
    .board {
        width: 45%;
    }
.board {

}
}
